//Created by hasee on 2017/3/30.

include  layout.pug

block content
    h1= title
    p Welcome to #{title}
-var friends = 1
    case friends
        when 0
        when 1
            p you have few friends
        default
            p you have #{friends} friends
.item
-for(var x = 0; x < 3; x++)
         li item

.quote
    p Joel

mixin list(id, ...items)
    ul(id=id)
        each item in items
            li= item

+list('my-list', 1, 2, 3, 4)
+list('my-list2',5,6,7,8)

mixin article(title)
    .article
        .article-wrapper
            h1= title
            if block
                block
            else
                p No content provided

+article('Hello world')

+article('Hello world')
    p This is my
    p Amazing article

div
    p This text belongs to the paragraph tag.
    br
    .
        This text belongs to the div tag.

div(style={background:'linear-gradient(to right,#77a0bb,blue)',width:'200px'})
    h1(style={'font-size':'40px',color:'red'}) pug

div(style={'font-size':'200px'})
    button Yes
    button(class='cancel') Cancel
    button(class='ok') OK

input#value1(type='text' value='73')

#test 123

script.
    var str = '<div>Are your a pig?</div>';
    var body = document.getElementsByTagName('body')[0];
    for(var i = 0; i < 10; i++) {
        body.innerHTML += str;
    }